# Variáveis de Ambiente para o Sys Aksurim (SA)

# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados (MySQL)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_DATABASE=sys_aksurim

# Segredo para o JSON Web Token (JWT)
JWT_SECRET=


# Variáveis de Ambiente para o Sys Aksurim (SA)

# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados (MySQL)
DB_HOST=aksurim.com
DB_USER=aksurimc_saas_lucena
DB_PASSWORD=2GxFNFmgB53t43X2VzHM
DB_DATABASE=aksurimc_saas_prototype

# Segredo para o JSON Web Token (JWT)
JWT_SECRET=da1wj413BGQ5EMfvZoSAPQdiq0GWQFexUMX9tl+1C/o=



tokem de Teste= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZF91c3VhcmlvIjoyLCJ0ZW5hbnRfaWQiOjQsImlhdCI6MTc2MzQxMzMxMiwiZXhwIjoxNzYzNDQyMTEyfQ.4KmftQxevDRo7IK4rr8rp7-8iK7jKaV5Og1RWU9PceI

"Por favor, leia o arquivo Check_list.md e Dev_GUIDE.md para nos situarmos."
{"email": "teste@aksurim.com", "password": "12345"}